html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /*Margin for bottom footer*/
}
#header{
    background-color: transparent;
    border: transparent;
}
#logo{
    height: inherit;
    padding: inherit;
}
#logo-img{
    height: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: transparent;
}
/*.dropdown{*/
    /*padding: 0px 15px 0px 15px;*/
/*}*/
.menu-button{
    font-size: 16px;
    font-weight: bold;
}
.dropdown-submenu{
     padding: 0px 0px 0px 20px;
    font-size: 12px;
 }
.dropdown-category{
    list-style: none;
}
.dropdown-subsubmenu{
    padding: 0px 0px 0px 0px;
}
.dropdown-item{
    display: block;
    font-size: 12px;
}